.leaderboard__main-container {
  min-height: 100vh;
  background-size: cover;
  background-image: url('../../assets/img/homepage2.jpg');
  color: #444;
  font-family: cursive;
  background-position: center center;
}

.navbar__container {
  min-height: 100px;
  width: 100%;
}

.next__container {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.card {
  border: solid 1px black;
  padding: 20px;
  background-color: #eeeeeebb;
}

.wrong__answer {
  color: red;
  font-size: 3em;
}

.right__answer {
  color: green;
  font-size: 3em;
}

.center {
  text-align: center;
}

.leaderboard__card {
  font-size: 2em;
}

.btn--play {
  color: #fff;
  font-size: 2.5vw;
  padding: 30px;
  width: 100%;
}

.gold {
  color: #DAA520;
}

.silver {
  color: #C0C0C0;
}

.bronze {
  color: #CD7F32;
}

.table {
  font-size: 1.6em;
}

.table tr th {
   border-bottom: 2px solid #444;
}

.table tr td {
   border-bottom: 1px solid #444;
}

.card {
  margin-top: 4vh;
}

.red {
  color: red;
}

.challenge__comp {
  font-size: 2em;
}

.card--end__card {
  margin-top: 80px;
  min-width: 350px;
}

.current-user {
  color: green;
  font-weight: bold;
}
