<nav class="navbar navbar-fixed-top navbar--color">
    <div class="container-fluid">
        <div class="navbar-header navbar__left">
            <span class="navbar-brand">
                <img src="../../assets/img/dell.png" class="logo" />
            </span>
        </div>
        <div class="navbar-header navbar__right" style="float: right;">
            <a routerLink='/admin/dashboard'>
                <button class="navbar__btns" [hidden]="!isAdmin">
                    <span class="glyphicon glyphicon-cog navbar__icon" aria-hidden="true"></span>Dashboard</button>
            </a>
            <button class="navbar__btns" (click)="logout()" [hidden]="!isAdmin">
                <span class="glyphicon glyphicon-off navbar__icon" aria-hidden="true"></span>Logout</button>
            <div class="clr"></div>
        </div>
    </div>
</nav>