.navbar__left {
  float: left;
}

.navbar__right {
  float: right;
  padding-top: 20px;
  padding-right: 25px;
}

.navbar__btns{
  background-color: transparent;
  border-color: transparent;
  -webkit-text-fill-color: snow;
  margin-left: 20px;
  font-size: 18px;
}

.clr {
  clear: both;
}

.navbar--color {
  background-color: #444;
  color: red;
  height: 75px;
}

.logo {
  width: 150px;
  height: 40px;
}

.navbar__current {
    margin-top: 8px;
    font-size: 2em;
    color: #aaa;
}
.navbar__icon {
  padding-right: 5px;
}
