<div class="container-fluid main__container">
    <div class="row">
      <ct-navbar></ct-navbar>
    </div>
    <div *ngIf="errorRegistration" class="center alert alert-danger alert-dismissible alert__missing-option col-xs-6 col-xs-offset-3" role="alert">
      <strong>Please insert valid/unique email using emc or dell domains!</strong>
    </div>
    <div *ngIf="verificationError" class="center alert alert-danger alert-dismissible alert__missing-option col-xs-6 col-xs-offset-3" role="alert">
      <strong>Please insert a valid verification code!</strong>
    </div>
    <div class="card register__card">
      <div class="card-header">
          Admin Login 
      <div class="card-body">
        <h4 class="card-title">
            <div class="form-group register__input--username">
              <input type="text" class="form-control register__input" id="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group register__input--username">
              <input type="text" class="form-control register__input" id="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group join__container">
              <button class="btn btn-success btn__join" (click)="onSubmitAdmin()">Login</button>
            </div>
        </h4>
      </div>
    </div>
  </div>