html, body {
  width: 100%;
  overflow-x: hidden;
}

.card {
  border: solid 1px black;
  padding: 20px;
  background-color: #eeeeeebb;
}

.gold {
  color: #DAA520;
}

.silver {
  color: #C0C0C0;
}

.bronze {
  color: #CD7F32;
}

.table {
  font-size: 1.3em;
}

.table tr th {
   border-bottom: 2px solid #444;
}

.table tr td {
   border-bottom: 1px solid #444;
}

.card {
  margin: 2vh 0vh 6vh 0vh;
}

.leaderboard__card {
  font-size: 2em;
}

.card--end__card {
  margin-top: 120px;
}

.red {
  color: red;
}

.leaderboard__main-container {
  min-height: 100vh;
  background-image: url('../../assets/img/homepage2.jpg');
  background-size: cover;
  color: #444;
  font-family: cursive;
  width: 100%;
  overflow-y: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  margin: 0;
  background-position: center center;
}

.center {
  text-align: center;
}

.navbar__container {
  min-height: 100px;
}
