<ct-navbar></ct-navbar>
<div class='container-fluid dashboard-container'>
  <div class='row info-boxs'>
    <div class='col-md-4 col-sm-12'>
      <div class='row info-box'>
        <span class='col-xs-4 info-box__icon bg-coral glyphicon glyphicon-user'></span>
        <div class='col-xs-8 info-box__content'>
          <span>Users</span>
          <span class='info-box__number'>{{stats['users']}}</span>
        </div>
      </div>
    </div>
    <div class='col-md-4 col-sm-12'>
      <div class='row info-box'>
        <span class='col-xs-4 info-box__icon bg-teal glyphicon glyphicon-question-sign'></span>
        <div class='col-xs-8 info-box__content'>
          <span>Questions</span>
          <span class='info-box__number'>{{stats['questions']}}</span>
        </div>
      </div>
    </div>
    <div class='col-md-4 col-sm-12'>
      <div class='row info-box'>
        <span class='col-xs-4 info-box__icon bg-chartreuse glyphicon glyphicon-tags'></span>
        <div class='col-xs-8 info-box__content'>
          <span>Genres</span>
          <span class='info-box__number'>{{stats['genres']}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class='row row--margining'>
    <div class='col-md-6 col-sm-12'>
      <div class='dashboard-container__section'>
        <app-question-genres></app-question-genres>
      </div>
    </div>
    <div class='col-md-6 col-sm-12'>
      <div class='dashboard-container__section dashboard-container__section--border-coral'>
        <alert *ngIf='invitationSuccess' type="success">
          <strong>Invitation Sent!</strong>
        </alert>
        <alert *ngIf='invitationErr' type="danger">
          <strong> Admin already Exists!</strong>
        </alert>
        <h3 class='dashboard-container__section__title'>Add Admin</h3>
        <form #inviteForm='ngForm' ngNativeValidate>
          <div class='form-group'>
            <input required type='email' name='email' class='form-control' id='email' placeholder='Enter an email to send an invitation'
              ngModel>
          </div>
          <div class='row'>
            <div class='col-md-4 col-md-offset-4 col--align'>
              <button type='submit' class='btn btn-success btn-lg btn-wide' (click)='inviteAdmin(inviteForm)'>
                <span class="glyphicon glyphicon-envelope sign" aria-hidden="true"></span>Invite</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='row row--margining'>
    <div class='col-md-4 col-md-offset-4 col-sm-12'>
      <div class='dashboard-container__section dashboard-container__section--border-blue'>
        <h3 class='dashboard-container__section__title'>Leader Board</h3>
        <table class="table">
          <tbody>
            <tr *ngFor="let player of topPlayers; let i = index;">
              <ng-container *ngIf="i == 0">
                <td>
                  <span class="glyphicon glyphicon-glass gold"></span>
                </td>
              </ng-container>
              <ng-container *ngIf="i == 1">
                <td>
                  <span class="	glyphicon glyphicon-glass silver"></span>
                </td>
              </ng-container>
              <ng-container *ngIf="i == 2">
                <td>
                  <span class="glyphicon glyphicon-glass bronze"></span>
                </td>
              </ng-container>
              <ng-container *ngIf="i != 0 && i != 1 && i != 2">
                <td>
                  <span class="glyphicon glyphicon-bookmark red"></span>
                </td>
              </ng-container>
              <td>{{ player.email }}</td>
              <td>{{ player.score }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>