.dashboard-container {
    height: 100vh;
}
.info-boxs {
    padding: 85px 20px 0px 20px;
}

.info-box {
   min-height: 90px;
   background: white;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   border-radius: 2px;
   margin-bottom: 30px;
}

.info-box__icon {
   height: 100%;
   text-align: center;
   font-size: 65px;
   line-height: 90px;
   background: rgba(0,0,0,0.2);
   color: white;
}

.info-box__content{
   padding: 10px 10px;
   font-size: 18px;
}

.info-box__number {
   display: block;
   font-weight: bold;
}

.bg-coral {
   background-color: #D74324;
}

.bg-teal {
   background-color: #42AEAF;
}

.bg-chartreuse {
   background-color: #C1D82F;
}

.dashboard-container__section {
    background-color: white;
    padding: 5px 10px;
    border: solid 0.5px lightgrey;
    border-top: solid 4px #6EA204;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.dashboard-container__section__title{
    text-align: center;
    font-weight: bold;
    border-bottom: solid lightgray;
    margin-bottom: 20px;
}

.dashboard-container__section--border-coral {
    border-top: solid 4px #D74324; 
    padding-bottom: 30px;
}

.dashboard-container__section--border-blue {
    border-top: solid 4px #00447C; 
    padding-bottom: 30px;
} 

.col--align{
    text-align: center;
}

.btn-wide{
    width: 50%;
    font-size: 18px;
}
.sign{
    font-size: 18px;
    padding-right: 10px;
}
.row--margining {
    margin-bottom: 30px;
}

.gold {
    color: #DAA520;
  }
  
  .silver {
    color: #C0C0C0;
  }
  
  .bronze {
    color: #CD7F32;
  }
  
  .table {
    font-size: 18px;
    border: none;
  }
  
  .table tr {
     border-bottom: 1px solid #ddd;
     padding: 15px 0px;
  }

  .red {
    color: red;
  }
  .table>tbody>tr>td {
      border: none;
  }